*.d
*.o
*.ko
*.so
*.so.*
*.mod*
*.cmd
*.swp
*.log
*.out
modules.order
Module.symvers
.vscode
nvme-common
cat 
cp 
mkdir 
mv 
rm 
ls 
echof 
dummy 
ftruncate 
init 
touch 
mkdir-sufs 
ls-sufs 
driver-test
*.json
# *.txt

*.csv
eval-motivation/fio